*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#calculator {
    width: 100%;
    max-width: 375px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: indigo;
    padding: 1em;
}

#display {
    height: 25%;
    font-size: 3em;
    background-color: gray;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 12px;
}

.keys {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 23%;
}

.key {
    width: 23%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 12px;
}

.num {
    background-color: aquamarine;
    border-color: aquamarine;
}

.operator {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.equals {
    background-color: forestgreen;
    border-color: forestgreen;
}

.clear {
    background-color: brown;
    border-color: brown;
}